footer a:hover {
  color: #ff4fd8;
  transition: 0.3s;
}

footer a i:hover {
  color: #3cff00;
}

footer {
  border-top: 1px solid #ff4fd8;
}

.img-nitida {
  max-height: 380px;
  object-fit: contain;
  filter: contrast(1.08) brightness(1.05);
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
}

.hero {
  background: radial-gradient(circle at top, #1a1a1a, #000);
  padding: 90px 0;
  color: white;
}

.hero h1 {
  color: #ff4da6;
  text-shadow: 0 0 15px #ff4da6;
}

.carousel-caption {
  background: rgba(0,0,0,0.65);
  border: 1px solid #ff4da6;
  border-radius: 10px;
}

.card {
  background: #0d0d0d;
  border: 1px solid #ff4da6;
  border-radius: 16px;
  transition: 0.3s;
  color: white;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 15px #ff4da6;
}
 
a:hover {
  color: #3cff00;
}

section {
  margin-bottom: 80px;
}

.navbar {
  border-bottom: 1px solid #ff4da6;
}

.navbar-brand {
  font-size: 1.4rem;
}

.nav-link {
  color: #ccc !important;
}

.nav-link:hover {
  color: #ff4da6 !important;
}
